.api-wrapper {
    padding-top: 10px;
    background-color: $background-color;
    border: $big-border;
    border-radius: $border-radius-big;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding-right: $padding;
        text-align: center;
    }

    a {
        color: $font-alternative-color;
    }

    h2 {
        color: $font-alternative-color;
        text-decoration: underline;
        text-align: center;
    }


    ul, li {
        color: $font-color;
    }

}

.form-box {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
        color: #333;
        background-color: #fff;
        background-image: linear-gradient(#fff, #eee);
        border: 1px solid #ccc;
        text-decoration: none;
        box-sizing: border-box;
        display: inline-block;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.4rem;
        padding: 0.4rem 1rem;
        text-align: center;
        border-radius: 0.2rem;
        line-height: 1.4;

        &:hover {
            background-color: #c53535;
            background-image: none;
        }
    }
}