.api-wrapper {
    padding-top: 10px;
    background-color: $background-color;
    border: $icy-border;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding-right: $padding;
        text-align: center;
    }

    a {
        color: $font-alternative-color;
    }

    h2 {
        color: $font-alternative-color;
        text-decoration: underline;
        text-align: center;
    }


    ul, li {
        color: $font-color;
    }

}