

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Bebas+Neue&display=swap');

$header-font: 'Bebas Neue', sans-serif;
$main-font: 'Playfair Display', serif;
$font-color: #ededed;
$font-alternative-color: #f7f015;
$accent-color: #f7f015;
$background-color: #9d0202;
$background-gradient: linear-gradient(#000000, #656565);
$background-alternative-color: #9d0202;
$border: 2px solid #f7f015;
$border-radius: 0.2em;
$margin-top: 2em;
$margin-side: 4em;
$margin-bottom: 2em;
$padding: 2em;
$small-padding: 1em;

$box-shadow-color: #BEF5FA;
$box-shadow: 10px 10px rgb(0, 0, 0);
$small-box-shadow: 6px 6px rgb(0, 0, 0);
$small-box-shadow-orange: 6px 6px #ff9b30;
$box-dark-color: #fbc41e;
$box-dark-hover-color: #FADF50;
$selection-color: #FADF50;
$border-code-color: #242424;
$link-color: #101120;
$header-color : black;



$end-game-border: 5px solid #f7f015;
$icy-border: 2px solid #f7f015;
