{% extends 'base.html.twig' %}

{% block title %}Poker Challenge{% endblock %}


{% block body %}
    <div class="doc">

    <h1>Welcome to the PokerChallenge</h1>


    <p>You are playing as the protaganist, Mike. You have decided to gamble your life savings and challenge the russian mobster TeddyKGB to a heads up poker match.</p>
    <p>You will be playing Teddy's favourite game, FlopAndGo.</p>
    <p>FlopAndGo is a form of Texas No Limit Hold'em with a twist. If you dont know the rules for Texas then why are you here?</p>

    <p>The rules are as follows:</p>
    <p>-The game starts at the flop in a "Bomb Pot". This means that both players add 200 dollars to the pot before looking at their cards.</p>
    <p>-From this point you play No Limit Hold'em.</p>
    <p>-Not suprinsingly Teddy has changed the rules to his advantage. If you both have the same hand strength, Teddy will win. This means you will lose the pot if you have one pair of aces and Teddy has one pair of Kings. You need at least two pair to beat any pair that Teddy has. You need at least a full house to beat Teddy's flush etc.</p>
    <p>-You agree on an amount of hands to be played. Both players must play until the agreed upon volume has been played, or someone goes broke.</p>
    <p>How many hands do you want to to play for this challenge? Must be an even number since you take turns playing with positional advantage.</p>

    <div class="input-container">
    <form method="post" action="">
        <input class="num-input" type="number" name="num_hands" min="2" max="100" value="2" step="2">
        <input class="init-button" type="submit" name="do_it" value="Start playing">
    </form>
    </div>


    <h2><a href="{{ path('game_doc') }}">Click here for documentation</a></h2>

    </div>


{% endblock %}