.doc {
    padding-top: 10px;
    background-color: $background-color;
    border: $icy-border;

    p {
        padding-right: $padding;
    }

    a {
        color: $font-alternative-color;
    }

    h2 {
        color: $font-alternative-color;
        text-decoration: underline;
        text-align: left;
    }

    .picture {
        max-width: 50%;
        height: auto;
        display: block;
        float: left;
    }

    ul, li {
        color: $font-color;
    }

    .doc-pic {
        width: 100%;
        padding-left: $padding;
        padding-right: $padding;
    }
}

.flow-img {
    border: $icy-border;
}


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: row; 
        align-items: center;


    .init-button {
        color: #333;
        background-color: #fff;
        background-image: linear-gradient(#fff, #eee);
        border: 1px solid #ccc;
        text-decoration: none;
        box-sizing: border-box;
        display: inline-block;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.4rem;
        padding: 0.4rem 1rem;
        text-align: center;
        border-radius: 0.2rem;
        line-height: 1.4;
    
        &:hover {
            background-color: #c53535;
            background-image: none;
        }
    }
    
    .num-input {
        width: 50px;
        height: 45px;
        margin-right:4px;
    }
}
}
