@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@500&display=swap');

$header-font: 'Raleway', sans-serif;
$main-font: 'Merriweather', serif;
$font-color: #ffffff;
$font-alternative-color: #BEE2FA;
$accent-color: #BEF5FA;
$background-color: #51612b;
$background-gradient: linear-gradient(#2B4B61, #BEE2FA);
$background-alternative-color: #0C2333;
$border: 2px solid #BEF5FA;
$margin-top: 2em;
$margin-side: 4em;
$margin-bottom: 2em;
$padding: 2em;
$box-shadow-color: #BEF5FA;
$box-shadow: 10px 10px rgb(0, 0, 0);
$small-box-shadow: 6px 6px rgb(0, 0, 0);
$small-box-shadow-orange: 6px 6px #ff9b30;
$box-dark-color: #fbc41e;
$box-dark-hover-color: #FADF50;
$selection-color: #FADF50;
$border-code-color: #242424;
$link-color: #101120;
$header-color : black;


$end-game-border: 5px solid #BEE2FA;
$icy-border: 2px solid #BEE2FA;
