{% extends 'base.html.twig' %}

{% block body %}
    <div class="about-div">
    <h1>About</h1>
    <p>Namnet "mvc" är vårt eget smeknamn på kursen och under det namnet döljer sig objektorienterad PHP-programmering med kända webbramverk, enhetstestning, kodkvalitet och databaskopplingar med objekt relational mapping (ORM).</p>
    {# <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a> #}
    <img class="picture" src="{{ asset('build/images/mvc.png') }}" alt="">
    </div>
{% endblock %}