{% extends 'base.html.twig' %}

{% block title %}API-routes{% endblock %}


{% block body %}
    {# <div class="about-div"> #}
    <h1>Mina API-Routes</h1>
    <h2>api/quotes</h2>
{# 
    <li><a href="{{ path('api/quotes') }}">Quotes</a></li> #}

{% endblock %}