{% extends "base.html.twig" %}
{% block title %}Magic number{% endblock %}

{% block body %}
    <h1>Rapporter</h1>

    <div class="two-col-wrapper">
        <aside class="aside-left">
            <h2>Innehåll</h4>
            
            <ul>
            <li class="links"><a href="#kmom01">kmom01</a></li>
            <li class="links"><a href="#kmom02">kmom02</a></li>
            <li class="links"><a href="#kmom02">kmom03</a></li>
            <li class="links"><a href="#kmom02">kmom04</a></li>
            <li class="links"><a href="#kmom02">kmom05</a></li>
            <li class="links"><a href="#kmom02">kmom06</a></li>
            <li class="links"><a href="#kmom02">kmom07</a></li>
            </ul>
        </aside>

        <aside class="aside-right">
        <section>
             <h2 id="kmom01">Kmom01</h2>
            <p>Den enda objektorienteradeprogrammering jag gjort innan denna kursen är oopythonkursen. Konceptet nämndes kort i js-kursen men jag förstod det inte alls då.</p>

<p>Klasser är en samling av kod som hör ihop. Klasser används för att organisera och strukturera kod på ett logiskt sätt och möjliggör återanvändning av kod genom att skapa flera objekt med samma egenskaper och metoder. Objekt är alltså instanser av en klass. På så vis kan vi ha flera objekt med samma metoder men olika attribut (attributen kan också vara samma).</p>  <p>Oftast kommer klasserna ha en konstruktor. Man kan också ha en dekonstruktor om man vill. Har din klass attribut ska du skriva setter- och gettermetoder för att ändra eller hämta egneskapen/attributet.</p>

<p>Kodbasen liknar egentligen mycket av de vi gjort tidigare under programmet. Jag tycker detta ramverk och stukturen känns snäppet krångligare än de vi gjort tidigare. Men jag gissar att i slutet av kursen kommer man känna sig hemma i strukturen. Jag ville byta namn på en controller och det tog ett tag innan jag förstod att filen och klassen måste ha samma namn.</p>

<p>Jag har inte läst hela artikeln då mycket är relaterat till specifika verktyg men något jag fann väldigt hjälpsamt var sektionen om Namespaces. Artikeln gave en kort, enkel förklaring till vad det innebär. Dessutom finns en länk som beskriver noggrannare hur man bör använda namespaces om man jobbar med en autoloader. Kommer säkerligen komma till nytta i denna kursen.</p>

<p>I detta kursmoment har jag lärt mig hur jag installerar Symfony för att kunna skapa en webbplats. Skulle jag göra ett hobbyprojekt nu skulle jag förmodligen välja Symfony för uppgiften. Ramverket känns gediget, jag kan använda html, css, js, och php. Jag får snygga tydliga felmeddelanden när något är fel. Mycket trevligt.</p>
        </section>

        <section>
            <h2 id="kmom02">Kmom02</h2>
            <p></p>
        </section>

        <section>
            <h2 id="kmom03">Kmom03</h2>
            <p></p>
        </section>

        <section>
            <h2 id="kmom04">Kmom04</h2>
            <p></p>
        </section>

        <section>
            <h2 id="kmom05">Kmom05</h2>
            <p></p>
        </section>

        <section>
            <h2 id="kmom06">Kmom06</h2>
            <p></p>
        </section>

        <section>
            <h2 id="kmom07-10">Kmom07-10</h2>
            <p></p>
        </section>
        </aside>
    </div>
{% endblock %}
