{% extends "base.html.twig" %}
{% block title %}Magic number{% endblock %}

{% block body %}
    <h1>Rapporter</h1>

    <div class="two-col-wrapper">
        <aside class="aside-left">
            <h2>Innehåll</h4>
            
            <ul>
            <li class="links"><a href="#kmom01">kmom01</a></li>
            <li class="links"><a href="#kmom02">kmom02</a></li>
            <li class="links"><a href="#kmom02">kmom03</a></li>
            <li class="links"><a href="#kmom02">kmom04</a></li>
            <li class="links"><a href="#kmom02">kmom05</a></li>
            <li class="links"><a href="#kmom02">kmom06</a></li>
            <li class="links"><a href="#kmom02">kmom07</a></li>
            </ul>
        </aside>

        <aside class="aside-left">
        <section>
            <h2>Kmom01</h2>
            <p>HejhejHejhejHejhejHejhejHejhejHejhejHejhejHejhejHejhejHejhejHejhejHejhejHejhej</p>
        </section>

        <section>
            <h2>Kmom02</h2>
            <p></p>
        </section>

        <section>
            <h2>Kmom03</h2>
            <p></p>
        </section>

        <section>
            <h2>Kmom04</h2>
            <p></p>
        </section>

        <section>
            <h2>Kmom05</h2>
            <p></p>
        </section>

        <section>
            <h2>Kmom06</h2>
            <p></p>
        </section>

        <section>
            <h2>Kmom07-10</h2>
            <p></p>
        </section>
        </aside>
    </div>
{% endblock %}
