{% extends "base.html.twig" %}
{% block title %}Magic number{% endblock %}

{% block body %}
    <h1>Rapporter</h1>

    <div class="two-col-wrapper">
        <aside class="aside-left">
            <h2>Innehåll</h4>
            
            <ul>
            <li class="links"><a href="#kmom01">kmom01</a></li>
            <li class="links"><a href="#kmom02">kmom02</a></li>
            <li class="links"><a href="#kmom03">kmom03</a></li>
            <li class="links"><a href="#kmom04">kmom04</a></li>
            <li class="links"><a href="#kmom05">kmom05</a></li>
            <li class="links"><a href="#kmom06">kmom06</a></li>
            <li class="links"><a href="#kmom07">kmom07</a></li>
            </ul>
        </aside>

        <aside class="aside-right">
        <section class="doc">
            <h2 id="kmom01">Kmom01</h2>
            <p>Den enda objektorienteradeprogrammering jag gjort innan denna kursen är oopythonkursen. Konceptet nämndes kort i js-kursen men jag förstod det inte alls då.</p>

<p>Klasser är en samling av kod som hör ihop. Klasser används för att organisera och strukturera kod på ett logiskt sätt och möjliggör återanvändning av kod genom att skapa flera objekt med samma egenskaper och metoder. Objekt är alltså instanser av en klass. På så vis kan vi ha flera objekt med samma metoder men olika attribut (attributen kan också vara samma).</p>  <p>Oftast kommer klasserna ha en konstruktor. Man kan också ha en dekonstruktor om man vill. Har din klass attribut ska du skriva setter- och gettermetoder för att ändra eller hämta egneskapen/attributet.</p>

<p>Kodbasen liknar egentligen mycket av de vi gjort tidigare under programmet. Jag tycker detta ramverk och stukturen känns snäppet krångligare än de vi gjort tidigare. Men jag gissar att i slutet av kursen kommer man känna sig hemma i strukturen. Jag ville byta namn på en controller och det tog ett tag innan jag förstod att filen och klassen måste ha samma namn.</p>

<p>Jag har inte läst hela artikeln då mycket är relaterat till specifika verktyg men något jag fann väldigt hjälpsamt var sektionen om Namespaces. Artikeln gave en kort, enkel förklaring till vad det innebär. Dessutom finns en länk som beskriver noggrannare hur man bör använda namespaces om man jobbar med en autoloader. Kommer säkerligen komma till nytta i denna kursen.</p>

<p>I detta kursmoment har jag lärt mig hur jag installerar Symfony för att kunna skapa en webbplats. Skulle jag göra ett hobbyprojekt nu skulle jag förmodligen välja Symfony för uppgiften. Ramverket känns gediget, jag kan använda html, css, js, och php. Jag får snygga tydliga felmeddelanden när något är fel. Mycket trevligt.</p>
        </section>

        <section class="doc">
            <h2 id="kmom02">Kmom02</h2>
            <p>Komposition är en konstruktion där ett objekt består av ett eller flera andra objekt. En korthand har kort. En kortlek har kort. En bil har en motor, växelspak och backspegel. De är alla exempel på komposition.</p>

<p>Interface används för att göra kod skalbar, modulär, förutsägbar. Interface tvingar alla klasser som implementerar det att innehålla vissa metoder, utan att beskriva hur de ska implementeras. På så vis kan utvecklare jobba på sin egen kod och veta att kollegan kommer skriva någon slags kod som returnerar det han behöver i sin del av koden.</p>  <p>Trait är ett alternativ till arv. Trait gör att man kan återanvända kod utan att behöva ärva. En klass kan implementera flera traits, passar inte ”single-inheritance” i koden så kan traits vara det du behöver</p>

<p>Jag tycker detta kursmomentet var väldigt givande. När jag gjorde övningen för klasserna kändes det lite överväldigande men det var väldigt bra träning för uppgiften. Jag har löst uppgiften i princip som pig game löstes i övningen. Jag har inte implementerat Interface, förmodligen för att jag inte känner mig bekväm med det ännu. Jag vet inte om min lösning är den mest skalbara eller bästa lösningen men jag förstår den i alla fall. Känner jag att jag behöver implementera traits eller interface borde ju kunna åtgärda det i ett senare skede.</p>  <p>Jag har en CardGraphic-klass som ärver från basklassen Card. Jag vet inte vad som väntar i kommande kursmoment men i och med enkelheten kan den med fördel användas som basklass i andra implementationer. Kanska skapas fler klasser i framtiden som ärver av denna enkla Card-klass. CardGraphic har ett nytt attribut och nya metoder för att underlätta den grafiska representationen. CardGraphic initieras konstruktion för DeckOfCards, därför vill jag kalla den relationen komposition. Korten finns inte om DeckOfCards inte finns. Rätta mig om jag har fel men jag vill också kalla relationen mellan CardGraphic och CardHand komposition. Korten läggs till i handklassen och blir en del av handklassens attribut. Känns väldigt mänskligt att kalla det komposition.</p>

<p>Förra veckan hyllade jag Symfony, det var innan jag publicerade till studentservern. Har man mer erfarenhet av ramverk är det kanske inga problem att lista ut varför något inte fungerar. För mig gick mycket tid till att få min kod att fungera på studentservern trots att den redan fungerade felfritt lokalt. Kanske är det en del av webbprogrammerarens vardag man helt enkelt får acceptera.</p>

<p>Min TIL i detta kursmoment är att mycket av programmering handlar om att bygga rätt från grunden. Än så länge har jag bara skrapat ytan på objektorienterad-programmering. Interface verkar vara en stor grej i php. Jag förstår grunderna i varför man vill använda det och jag hoppas i framtiden kunna ha djupare tankar om varför jag vill implementera en viss lösning och inte en annan.</p>
        </section>

        <section class="doc">
            <h2 id="kmom03">Kmom03</h2>
            <p>Jag tycker absolut att flödesdiagrammet och pseudokoden var bra verktyg. Det kanske låter dumt när min kod ser annorlunda ut från det jag planerade innan jag satte igång. Jag följde dock mina flödesdiagramm och pseudokod och hade ett fungerande spel lokalt som i princip var det pseudokoden och flödesdiagrammet planerade. Problemet var att min kontroller blev otroligt tjock då planeringen jag gjorde krävde väldigt många routes och templates. Man kan säga att flödesschemat och pseudo-koden tog mig dit jag siktade, men jag hade siktat otroligt dåligt. Därför började jag om och har nu en mycket mer nedskalad kontroller. Min play()-funktion i spelklassen hanterar alla scenarior nu istället för som tidigare där jag hade olika funktioner som hanterade olika gator i spelet. Mina funktioner som används i spelet hanterar alla gator i spelet vilket gör det lättare att felsöka nu, då felet som uppstår inte kan finnas på så många olika ställen.</p>

<p>Trots att jag förbättrat min initiala kod avsevärt är jag fortfarande lite osäker på mitt projekt. Jag har många klasser som injiceras i spelklassen. Det jag inte kunde förutse på förhand var hur mycket funktioner som skulle behövas för att få alla klasserna att kunna samverka. Istället för att ha 25 funktioner i spelklassen valde jag till slut att använda traits. Det blev en smidig lösning för mig då jag inte behövde skriva en ’Manager’-klass och ha getter funktioner för alla attribut i spelklassen. Men filosofiskt känns det fel att använda traits på det här sättet. Mina traits är helt specifika till min spel-klass, det finns ingen annan klass i hela världen som skulle ha nytta av dom. På något sätt skulle jag vilja ha en manager-klass som också injiceras i spelklassen. Jag kan lätt hitta det jag ska i mina traits då jag är van att använda pokertermer och har själv skrivit koden. Problemet blir då att jag måsta ha getter-funktioner för alla attributen i spelklassen eller så måste jag injicera alla relevanta objekt i mina managers. I och med att mycket av det som mina managers gör är att ändra ”state” eller attribut på spelklasssen valde jag den enkla vägen och använde traits då de har tillgång till attributen i spelklassen. Jag förstår att det är svårt i och med mycket rättningar men skulle hemskt gärna få feedback på hur just denna delen hade kunnat varit bättre. </p>

<p>Jag undrar också över vad jag ska prioritera när det kommer till kontrollern och template-filerna. Jag har nu skalat kontrollern så mycket det går och all logik sker i spelklassen. Validatorerna klara på för hög komplexitet i play()-funktionen man jag vill inte lyfta ut fler delar.  I min mening skulle det leda till fler frågor om jag klumpar ihop vissa spelevents och kallar det ”bothPlayerActions()” eller liknande. Jag hade tidigare 3 eller 4 olika templates och 4 olika routes som hanterade logiken bakom användarens beslut. Call hade en route, bet hade en route, osv. Naturligtvis blev kontrollern enorm. Jag försökte lyfta ut logiken men i och med att jag renderade olika templates och skickade vidare flödet med redirects var mycket tvunget att ske i kontrollern. Jag valde nu att ha bara en template och en route som tar input, uppdaterar spelet och renderar samma template. Jag får då mer kod i template-filen och det ser lite rörigt ut. Jag vet inte riktigt vad min fråga är men jag hoppas på en rak, hård och ärlig analys av mitt projekt.</p>   <p>Att koda i Symfony har varit trevligt nu när jag fått ordning på allt krångel som uppstod i tidigare kursmoment. Jag skulle gärna försöka mig på att använda javascript för att få spelupplevelsen till en högre nivå. Just nu känns allt lite kantigt då motståndaren spelar blixtsnabbt och korten och chipsen flyger utan att man hinner blinka. Foldar motståndaren mot användarens bet kan nog användaren undra vad som hände, var tog min hand vägen? Vann jag potten? Men tiden finns inte just nu att lösa de sakerna.</p>

<p>Min TIL för detta kursmoment är att bygga stora projekt är svårt och mycket tid bör läggas på att bygga de enkla delarna väldigt noga så att när koden växer uppstår så lite problem som möjligt. Ett stort misstag jag gjorde var att bli upphetsad över att skriva en smart motspelare. Jag ville bara bli klar med spellogiken så att jag kunde börja göra motspelaren smart. Jag har spelat poker professionellt i 8 år och tyckte det var väldigt spännande att tänka på hur jag skulle skriva den koden. Nu sitter jag här, en vecka sen och motspelar-klassen har ingen intelligens.</p>
        </section>

        <section class="doc">
            <h2 id="kmom04">Kmom04</h2>
            <p>Till en början tyckte jag att skriva testerna var roligt. Det blir lite repetitivt till slut och man får vara disciplinerad för att inte skriva tester bara för att få mer kodtäckning, utan att faktiskt skriva tester som testar koden väl.  Det är nog roligare att testa andras kod, då man inte själv behöver laga den.</p>

<p>Jag tycker att efter förutsättningarna lyckades jag okej med kodtäckningen. De delar som inte täcks är framförallt motspelarens strategimodul och motspelarens respons till användarens bet. Strategimodulen är något jag skulle vilja skriva om helt och hållet när jag får tiden till det. Just nu har motspelaren en strategi som varken baseras på sina kort, korten på bordet, vilket stackdjup han har etc. I och med att strategin är något av en quick fix som bara returnerar slumpvalda beslut är jag inte särskilt intresserad av att testa den. Motspelarens beslut mot användarens bet skulle dock vara bra att testa. Även om jag lyckades med mockning i andra delar av koden blir det helt enkelt för komplicerat för mig i den här delen av koden. Konceptet med testdriven utveckling tilltalar mig och jag skulle hellre skriva om koden efter att ha skrivit testerna först, istället för att skriva extremt komplicerad testkod. I och med att spelflödet sker i princip en enda lång loop är jag nöjd med att ta mig över 80%. Alla klasserna som agerar byggstenar i spelet är vältestade och fungerar väl. Problemet är spelklassen och dess traits.</p>  <p>I kmom03 fick jag stora problem då jag byggde ett stort komplicerat spel och fick lära mig den hårda vägen att en bra struktur är viktigt. Självklart ser jag nu att hade jag gått in i projektet med en struktur som baserades på testning hade jag snabbare löst vissa delar av spelet som i själva kodandet var svårt att åtgärda då flödet var långt och rörigt. Med testbar kod kan jag testa små delar av koden och se vart felet ligger.</p>

<p>Min TIL för detta kursmoment är att testdriven utveckling kanske är något jag bör pröva och se om det sparar mig tid och möda i mitt kodande.</p> 
        </section>

        <section class="doc">
            <h2 id="kmom05">Kmom05</h2>
            <p><p>Övningen med Symfony och Doctrine gick bra. Jag fick problem med migrationerna när jag gick tillbaka från Mariadb till Sqlite. Jag raderade till slut mina entiteter och migrationer och började om på nytt. Då fungerade allt som jag tänkte igen. Jag blev förvånad över hur enkelt det var att generera alla klasser och att man fick en del grundläggande sql frågor inbyggda i repositoryn.</p>

<p>Jag började med att göra en enkel landningssida som länkade till [CREATE] då jag behövde böcker i min tabell. När jag gjort ett formulär skapade jag också en länk till [READ MANY]. Det kändes naturligt att på den sidan låta användaren klicka på böckerna för att ta sig till [READ ONE]. Där hittar man funktionaliteten för [UPDATE] och [DELETE]. Skulle biblioteket växa kanske man behöver en tabell utan bilder eller en sökfunktion. För nu tycker jag att den här lösningen är snygg och användarvänlig. Jag har lagt till navigeringsknappar som gör att man kan bläddra till nästa eller föregående bok. Funktionalitet förstörs inte om man tar bort eller lägger till böcker. Mina formulär visar med färg vilka fält som är obligatoriska och inte. Om man vill uppdatera en bok fylls nuvarande värden i automatiskt så att man vet vad man behöver lägga till eller ändra på.</p>  <p>De frågor jag ställer mot databasen i detta kursmoment är relativt simpla. Jag hade inga större problem att skriva mina frågor ”utan sql” men framtiden får utvisa vad jag tycker när jag behöver bygga upp mer avancerade frågor. Jag var lite orolig över just denna delen när kursmomentet startade men det var förvånansvärt lätt att hantera. Jag tror att detta kändes obehagligt då jag har jobbat med SQL i databaskursen och jag vet hur jag skriver dessa frågor, men egentligen är ORM det enkla sättet att jobba mot databaser.</p>

<p>Min TIL är att det finns flera anledningar till varför man vill jobba med ORM. Att inte knyta sig till en databasleverantör är den mest uppenbara fördelen. Att kunna fortsätta koda objekorienterat kan göra koden lättare att underhålla och man slipper skriva SQL-kod om man tycker det är jobbigt.</p> </p>
        </section>

        <section>
            <h2 id="kmom06">Kmom06</h2>
            <p></p>
        </section>

        <section>
            <h2 id="kmom07-10">Kmom07-10</h2>
            <p></p>
        </section>
        </aside>
    </div>
{% endblock %}
