{% extends 'proj.html.twig' %}

{% block title %}Poker Challenge{% endblock %}


{% block body %}
    <div class="doc">
                <h2>Om mitt projekt</h2>
                <p>Jag valde att göra ett pokerspel för detta examinerande projekt.
                Spelet består av tre spelare och målet är för användaren att nå en stack på 50 000 kr på 10 händer.<p>

    <div>
{% endblock %}