{% extends 'proj.html.twig' %}

{% block title %}API-routes{% endblock %}


{% block body %}
    {# <div class="about-div"> #}
<div class="api-wrapper">
    <h1>Mina API-Routes</h1>

    <h2><a href="{{ path('api_poker') }}">api/poker_data</a></h2>
    <p>Get all data abouth the current game</p>
    <h2>/api/update_hero_name/:name</a></h2>
    <p>Update your player name</p>
    <h2><a href="{{ path('hero_data') }}">/api/hero_data</a></h2>
    <p>Get current data on the hero player</p>
    <h2><a href="{{ path('peek_cards') }}">/api/peek</a></h2>
    <p>Cheat by looking at the opponents cards</p>
    <h2>api/deck/draw/:number</h2>
    <p>Draw a number of cards from the shuffled deck</p>
    <h2><a href="{{ path('api_game') }}">api/game</a></h2>

</div>



{% endblock %}