{% extends 'proj.html.twig' %}

{% block title %}Poker Challenge{% endblock %}


{% block body %}
                <h4>{{players}}</h4>
                <h4>{{hero_stack}}</h4>
            {% if hero_stack > 10000 %}
                <h4>Lilleskutt räddad!</h4>
            {% else %}
                <h4>Lilleskutt är död!</h4>
            {% endif %}
{% endblock %}