{% extends 'proj.html.twig' %}

{% block title %}Poker Challenge{% endblock %}


{% block body %}
            <div class="end-box">
                <h2>Pengar: {{hero_stack}} kr</h2>
            {% if hero_stack > 10000 %}
                <h4>Lilleskutt räddad!</h4>
                <img class="picture" src="{{ asset('build/images/happy_skutt.jpg') }}" alt="result pic">

            {% else %}
                <h4>Du har inte råd att rädda Lilleskutt..</h4>
                <img class="picture" src="{{ asset('build/images/sad_skutt.jpg') }}" alt="result pic">

            {% endif %}
            </div>
{% endblock %}