{% extends 'base.html.twig' %}

{% block title %}Poker Challenge{% endblock %}


{% block body %}

    <h1>Welcome to the PokerChallenge</h1>


    <p>You are playing as the protaganist, MegaMos. You have decided to gamble and challenges the russian mobster and poker expert TeddyKGB</p>


    <p>You will both buy in for 5000 usd at the start of the game. The rules are as follows:</p>
    <p>-As soon as you fall below startingchips your stack will be reset to 5000 usd.</p>
    <p>-You agree on an amount of hands to be played. Both players must play until the agreed upon volume has been played.</p>



    <p>How many hands do you want to to play for this challenge? Must be an even number to ensure fairness.</p>

    <form method="post" action="">
        <input type="number" name="num_hands" min="2" max="100" value="2" step="2">
        <input type="submit" name="do_it" value="Start playing">
    </form>

{% endblock %}