{% extends 'proj.html.twig' %}

{% block title %}Poker Challenge{% endblock %}


{% block body %}
    <div class="doc">
        <h1>Bamse går till Casinot</h1>

        <p>Efter en god middag får du höra att Lilleskutt blivit kidnappad. Kidnapparna kräver en lösensumma på 50 000 kr, innan midnatt!.</p>
        <p>Det är vinter och dunderhonungen är slut. Du tittar i spargrisen 10 000kr stirrar tillbaka på dig.</p>
        <p>I stundens hetta bestämmer du dig för att din bästa chans att rädda din vän är att gå ner till Krösus Casino och satsa allt.</p>
        <p>Casinot stänger om 15 minuter. Du sätter dig ner på första bästa pokerbord. Spelet är Texas Hold'em och dealern utropar att 10 händer återstår
        innan Casinot stänger för kvällen. Må pokergudarna vara med dig..</p>
        <img class="picture" src="{{ asset('build/images/snow1.jpg') }}" alt="me">

        <div class="input-container">
        <form method="post" action="">
            <input class="init-button" type="submit" name="do_it" value="Start playing">
        </form>
        </div>
    </div>


{% endblock %}