{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}


{% block body %}
    {{ include('card/flash.html.twig') }}

    {# <div class="about-div"> #}
    <h1>Session-data</h1>
    <h2>Cards in deck {{ cards_left }}</h2>
{% endblock %}